/******************************************************************************
  Buttons
*******************************************************************************/
.btn {
  border-radius: 0;
  color: $button-text-color;
  @include fontSize($button-font-size);
  font-weight: $button-font-weight;
  height: $button-height;
  line-height: $button-line-height;
  letter-spacing: 0;
  padding: $button-padding;
  text-transform: none;

  &:hover,
  &:focus {
    color: $button-text-color;
  }
  &.active.focus,
  &.active:focus,
  &.focus,
  &:active.focus,
  &:active:focus,
  &:focus {
    outline: none;
  }
  &.btn-lg {
    @include fontSize($button-lg-font-size);
    height: $button-lg-height;
    line-height: $button-lg-height;
    padding: $button-lg-padding;
  }
  &.btn-sm {
    @include fontSize($button-sm-font-size);
    height: $button-sm-height;
    line-height: $button-sm-height;
    padding: $button-sm-padding;
  }
  &.btn-floating {
    padding: 0;

    i {
      line-height: inherit;
    }
    &.btn-lg {
      line-height: $button-lg-height;
      width: $button-lg-height;
    }
    &.btn-sm {
      line-height: $button-sm-height;
      width: $button-sm-height;
    }
  }
  &.btn-flat {
    background: none !important;
    box-shadow: none;
    color: $button-color-flat;

    &:hover,
    &:focus {
      opacity: .8;
    }
  }
  &.btn-block {
    display: block;
    text-align: center;
    width: 100%;
  }
}
.fixed-action-btn {
  ul {
    bottom: 45px;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 13px;
    }
  }
  &.horizontal {
    ul {
      right: 45px;

      li {
        margin: 0 13px 0 0;
      }
    }
    > .btn-lg {
      + ul {
        li {
          margin-top: 5px;
        }
      }
    }
  }
}