/******************************************************************************
  Forms
*******************************************************************************/
.input-field {
  font-weight: 400;
  margin-top: $input-top-margin;
  margin-bottom: $input-bottom-margin;
  @media only screen and (max-width: 767px) {
    margin-top: $input-top-margin/1.5;
    margin-bottom: $input-bottom-margin/1.5;
  }

  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea.materialize-textarea {
    font-weight: inherit;
    margin: 0;

    + label:after {
      top: 4rem;
    }
  }
  label {
    font-weight: inherit;
    left: 0;
    vertical-align: top;

    &.active {
      font-size: 1rem;
      top: -.8rem;
      transform: scale(.8);
      transform-origin: 0 50%;
    }
  }
  .prefix {
    ~ input,
    ~ textarea {
      margin-left: 3rem;
    }
  }
  input:not([type]):disabled,
  input:not([type])[readonly="readonly"],
  input[type=text]:disabled,
  input[type=text][readonly="readonly"],
  input[type=password]:disabled,
  input[type=password][readonly="readonly"],
  input[type=email]:disabled,
  input[type=email][readonly="readonly"],
  input[type=url]:disabled,
  input[type=url][readonly="readonly"],
  input[type=time]:disabled,
  input[type=time][readonly="readonly"],
  input[type=date]:disabled,
  input[type=date][readonly="readonly"],
  input[type=datetime-local]:disabled,
  input[type=datetime-local][readonly="readonly"],
  input[type=tel]:disabled,
  input[type=tel][readonly="readonly"],
  input[type=number]:disabled,
  input[type=number][readonly="readonly"],
  input[type=search]:disabled,
  input[type=search][readonly="readonly"],
  textarea.materialize-textarea:disabled,
  textarea.materialize-textarea[readonly="readonly"] {
    border-bottom-style: solid;
  }
}
.dropdown-content {
  list-style: none;
  margin: 0;
  padding: 0;
}
textarea.materialize-textarea {
  min-height: 5rem;
  padding: 1rem 0;
}