/******************************************************************************
  Other Elements
*******************************************************************************/
.card {
  margin: 0 0 $bottom-margin;

  &:last-child {
    margin-bottom: 0;
  }
  &.small {
    height: 378px;
  }
}
.collapsible {
  line-height: inherit;
  list-style-type: none;
  margin: 0 0 $bottom-margin;
  padding: 0;

  li {
    &:last-child {
      .collapsible-body {
        border-bottom: 0;
      }
    }
  }
}
.pagination {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-radius: 0;
    margin: 0 5px;
    padding: 0;
    vertical-align: top;
    z-index: inherit;
    @media (max-width: 767px) {
      margin: 0 2px;
    }
    
    a {
      color: #000;
      display: block;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 30px;

      .material-icons {
        font-size: 30px;
        vertical-align: top;
      }
      &:hover {
        color: $main-color;
      }
    }
    &.active {
      a {
        color: #fff;
      }
    }
  }
}
.modal {
  background: #fff;

  .modal-content {
    padding: 21px 20px;

    .collection:last-child {
      margin-bottom: 0;
    }
  }
  .modal-footer {
    background: #fff;
    height: auto;
    padding: 15px 14px;
    text-align: right;

    .btn {
      display: inline-block;
      float: none;
      margin: 6px;
      @media (max-width: 767px) {
        display: block;
      }
    }
  }
  &.modal-fixed-footer {
    .modal-content {
      height: calc(100% - 85px);
      @media (max-width: 767px) {
        height: calc(100% - 133px);
      }
    }
  }
}
.collection {
  list-style: none;
  margin: 0 0 $bottom-margin;
  padding: 0;

  .collection-item.avatar .title {
    margin-bottom: 5px;
  }
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  backface-visibility: hidden;
  transition: all 0.3s ease-out;
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-close,
.mfp-arrow {
  transition: opacity 0.2s linear;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  width: 30px;
}
#main.page-404 {
  .page-header {
    margin-bottom: 0 !important;

    h1 {
      @include fontSize(140px);
      @media (max-width: 991px) {
        @include fontSize(100px);
      }
      @media (max-width: 767px) {
        @include fontSize(72px);
      }
    }
  }
  .page {
    h2 {
      margin-top: 3rem;
      margin-bottom: 5rem;
      @media (max-width: 991px) {
        @include fontSize(32px);
      }
      @media (max-width: 767px) {
        @include fontSize(20px);
        margin-top: 2rem;
        margin-bottom: 4rem;
      }
    }
  }
}
.contact-form {
  .form-submit {
    margin: 0 -10px;
    @media (max-width: 767px) {
      margin: 0;
    }

    .btn,
    .form-message {
      display: inline-block;
      margin: 0 10px;
      vertical-align: middle;

      @media (max-width: 767px) {
        display: block;
        margin: 0;
        text-align: center;
        width: 100%;
      }
    }
    .form-message {
      display: none;
      @include fontSize(14px);
      @media only screen and (max-width: 767px) {
        span {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
}
.contacts-list {
  list-style-type: none;
  margin: 0;
  padding: 3rem 0 2rem;
  @media only screen and (max-width: 767px) {
    padding: 2rem 0 1rem;
  }

  li {
    padding: 5px 0;

    .material-icons {
      margin-right: 10px;
      vertical-align: middle;
    }
  }
}
.collapsible-header {
  font-weight: 500;
}