/******************************************************************************
  Tabs
*******************************************************************************/
.tabs {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  @media (max-width: 767px) {
    overflow-x: auto;
  }

  .tab {
    font-weight: 500;
    letter-spacing: inherit;
    text-transform: none;
  }
}
.tabs-content {
  padding-top: 21px;
}
