/******************************************************************************
  Slider
*******************************************************************************/
.slider {
  height: auto;
  margin-bottom: 3rem;
  min-height: 370px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 2rem;
  }
  
  .owl-stage-outer {
    min-height: inherit;
  }
  .owl-stage {
    height: inherit;
    min-height: inherit;

    .owl-item {
      height: inherit;
      min-height: inherit;
    }
  }
  .slider-item {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    min-height: inherit;
    position: relative;

    img {
      visibility: hidden;
    }
  }
  .caption-wrap {
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    table-layout: fixed;
    top: 0;
    width: 100%;

    .caption {
      background: rgba(#000,.5);
      display: table-cell;
      padding: 63px 40px;
      vertical-align: middle;
      width: 100%;

      &.top-align {
        vertical-align: top;
      }
      &.bottom-align {
        vertical-align: bottom;
      }
      .tags {
        font-weight: 500;
        margin-bottom: 3rem;
        @media only screen and (max-width: 767px) {
          margin-bottom: .5rem;
        }

        a {
          color: rgba(#fff,.8);

          &:hover {
            color: #fff;
          }
        }
      }
      .title {
        margin-bottom: 3.5rem;
        @media (max-width: 991px) {
          @include fontSize(28px);
        }
      }
      @media only screen and (max-width: 767px) {
        .title {
          @include fontSize(20px);
          margin-bottom: 0;
        }
        .tags,
        .btn {
          display: none;
        }
      }
    }
  }
  .owl-controls {
    .owl-dots {
      bottom: 20px;
      left: 0;
      margin: 0;
      position: absolute;
      right: 0;

      .owl-dot {
        span {
          background: rgba(#fff, .54);

          &:hover {
            background: #fff;
          }
        }
        &.active {
          span {
            background: $main-color;
          }
        }
      }
    }
  }
}
.owl-controls {
  .owl-dots {
    line-height: 0;
    margin-top: 21px;
    text-align: center;

    .owl-dot {
      display: inline-block;
      margin: 0 8px;
      vertical-align: top;

      span {
        background: rgba(#000,.5);
        border-radius: 50%;
        display: block;
        height: 10px;
        transition: background 0.3s ease-in-out;
        width: 10px;
        
        &:hover {
          background: #000;
        }
      }
      &.active {
        span {
          background: $main-color;
        }
      }
    }
  }
  .owl-nav {
    .owl-prev,
    .owl-next {
      border: 1px solid #fff;
      border-radius: 50%;
      color: #fff;
      font: normal normal normal 0/1 FontAwesome;
      height: 40px;
      line-height: 42px;
      margin: -21px 0 0;
      position: absolute;
      text-align: center;
      top: 50%;
      width: 42px;
    }
    .owl-prev {
      left: 20px;

      &:before {
        content: '\f104';
        font-size: 20px;
      }
    }
    .owl-next {
      right: 20px;

      &:before {
        content: '\f105';
        font-size: 20px;
      }
    }
  }
}
.owl-carousel .owl-item {
  backface-visibility: inherit;
}
.carousel-item {
  margin: 0 auto;
  max-width: 260px;
}
