<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="mainSideNav"
            md-is-locked-open="isLocked && $mdMedia('gt-sm')" flex
            style="width: 100px">

    <header style="background-image: url('/package-admin/img/user-bg.jpg'); color: #fff;">
        <md-list>
            <md-list-item ng-click="VM.myProfile()">
                <canvas id="user-avatar" width="100" height="100" class="md-avatar" draw-canvas="VM.User.firstName[0]"></canvas>
                {{ VM.User.email }}
            </md-list-item>
        </md-list>
    </header>

    <md-content role="navigation">
        <md-list ng-repeat="section in VM.Menu">
            <md-list-item ng-class="{'active-light' : section.active}"
                ng-click="(!section.children.length > 0) ? VM.navigate(section.permalink) : (section.expand = !section.expand)">
                <md-icon ng-if="section.icon" class="material-icons">{{section.icon}}</md-icon>
                <p class="md-primary">{{section.title}}</p>
                <span flex></span>
                <md-icon class="md-primary md-icon-button"
                         ng-if="section.children.length > 0"
                >{{section.expand ? 'arrow_drop_up' : 'arrow_drop_down'}}</md-icon>
            </md-list-item>
            <md-list-item ng-show="section.expand" ng-class="{active : child.active}"
                          ng-repeat="child in section.children"
                          ng-click="VM.navigate(child.permalink)">
                <md-icon ng-if="child.icon" class="material-icons" style="margin-left: 20px;">{{child.icon}}</md-icon>
                <p class="md-body-2">{{child.title}}</p>
                <span flex></span>
                <md-icon>chevron_right</md-icon>
            </md-list-item>
    </md-content>
<div flex=""></div>
    <md-button href="{{ 'logout' | url }}">
    <md-icon class="material-icons">power_settings_new</md-icon>
        Logout
    </md-button>
</md-sidenav>

