<md-fab-toolbar md-open="false" count="0"
                md-direction="left">
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="menu" class="md-fab md-primary">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
    </md-fab-trigger>
    <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">
            <md-button aria-label="comment" class="md-icon-button" ng-click="changeMode('file')">
                <md-icon class="material-icons">file_upload</md-icon>
            </md-button>
            <md-button aria-label="label" class="md-icon-button" ng-click="changeMode('library')">
                <md-icon class="material-icons">library_add</md-icon>
            </md-button>
        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>

<div class="dropzone" ng-if="mode=='file'"
     options="dzOptions"
     callbacks="dzCallbacks"
     methods="dzMethods" drop-zone></div>

<media-library ng-if="mode=='library'"></media-library>
