<md-card class="md-whitespace-4dp">
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <h2 class="md-title">{{ VM.Item.title[VM.defaultLang] || 'New Item' }}</h2>
            <div flex=""></div>
            <md-button class="md-fab md-hue-2 md-accent" aria-label="open in new"
                       href="{{ 'dynamic-table-items' | url : {id : VM.Item.table_id } }}">
                <md-icon class="material-icons">arrow_back</md-icon>
                <md-tooltip md-direction="top">
                    Back to list
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>



    <form ng-submit="ItemForm.$valid && VM.save()" novalidate name="ItemForm">
        <md-tabs md-dynamic-height md-border-bottom md-autoselect>
            <md-tab label="{{ tab.label }}"
                    ng-repeat="tab in VM.tabs"
                    md-active="tab.active"
                    ng-if="VM[tab.acl] || true">
                <md-content class="md-padding" flex>
                    <ng-include src="tab.file"></ng-include>
                </md-content>
            </md-tab>

        </md-tabs>

        <md-button type="submit" class="md-accent md-raised">
            <md-icon class="material-icons">save</md-icon>
            Save
        </md-button>
    </form>

</md-card>