md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 250px !important;
    width: 50vw !important;
    max-width: 250px !important;
}

.search-bar { background-color: #222; }
.search-bar * { color: white !important; }
.search-bar input { border-bottom-color: white; }

.nav-active {
    background-color: pink;
    color: purple;
}

.nav-active md-icon {
    color: purple;
}

.bottomSheetdemoBasicUsage .md-inline-list-icon-label {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    height: 24px;
    vertical-align: middle; }
.bottomSheetdemoBasicUsage .md-grid-item-content {
    height: 96px; }
.bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
    height: 48px;
    width: 48px; }
.bottomSheetdemoBasicUsage .md-grid-text {
    padding-bottom: 5px; }
.bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
    min-height: 48px; }
.bottomSheetdemoBasicUsage h2 {
    line-height: 36px;
    padding-top: 10px; }
.bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
    padding: 0px; }
.bottomSheetdemoBasicUsage md-toast {
    background-color: #B14141; }
.bottomSheetdemoBasicUsage md-toast > * {
    font-weight: bolder; }
.tree-node {
    border: 1px solid #dfdfdf;
    color: #555;
    background-color: #f3f3f3;
    margin:5px;
    padding:5px;
}
.angular-ui-tree-handle {
    margin-right:10px;
}

.dialog md-sidenav, .dialog md-sidenav.md-locked-open, .dialog md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 150px !important;
    width: 50vw !important;
    max-width: 150px !important;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

*[sv-handle]{
    cursor: move;
}

.wan-material-paging .wmp-button {
    width: 50px;
    min-width: 50px;
    margin: 5px;
}

.chipsTags md-content.autocomplete {
    min-height: 250px; }
.chipsTags md-content.autocomplete input {
    min-width: 400px; }

.chipsTags .md-item-text.compact {
    padding-top: 8px;
    padding-bottom: 8px; }

.chipsTags .contact-item {
    box-sizing: border-box; }
.chipsTags .contact-item.selected {
    opacity: 0.5; }
.chipsTags .contact-item.selected h3 {
    opacity: 0.5; }
.chipsTags .contact-item .md-list-item-text {
    padding: 14px 0;
    max-width: 190px; }
.chipsTags .contact-item .md-list-item-text h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important; }
.chipsTags .contact-item .md-list-item-text h3, .chipsTags .contact-item .md-list-item-text p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
@media (min-width: 960px) {
    .chipsTags .contact-item {
        float: left;
        width: 33%; } }

.chipsTags md-contact-chips {
    margin-bottom: 10px; }

.chipsTags .md-chips {
    padding: 5px 0 8px; }

.chipsTags .fixedRows {
    height: 250px;
    overflow: hidden; }