<div ng-repeat="field in VM.Items">
    <div ng-if="field.type=='number'">
        <md-input-container class="md-block" flex flex-gt-sm>

            <label>{{ field.label }}</label>
            <input type="number" ng-model="VM.models[field.varName]" ng-change="VM.changed(field.varName)">
        </md-input-container>
    </div>
    <div ng-if="field.type=='email'">
        <md-input-container class="md-block" flex flex-gt-sm>

            <label>{{ field.label }}</label>
            <input type="email" ng-model="VM.models[field.varName]" ng-change="VM.changed(field.varName)">
        </md-input-container>
    </div>
    <div ng-if="field.type=='text'">
    <md-input-container class="md-block" flex flex-gt-sm ng-if="!field.translatable">

        <label>{{ field.label }}</label>
        <input ng-model="VM.models[field.varName]" ng-change="VM.changed(field.varName)">
    </md-input-container>
        <div ng-repeat="(key, locale) in VM.Locales" ng-if="field.translatable">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h3><span>{{ field.label }} in {{ locale.name }}</span></h3>
                </div>
            </md-toolbar>
            <md-input-container class="md-block" flex flex-gt-sm>

                <label>{{ field.label }}</label>
                <input ng-model="VM.models[field.varName][key]" ng-change="VM.changed(field.varName[key])">
            </md-input-container>
            </div>
    </div>
    <div ng-if="field.type=='textarea'">
        <md-input-container class="md-block" flex flex-gt-sm ng-if="!field.translatable">
            <label>{{ field.label }}</label>
            <textarea ng-model="VM.models[field.varName]" ng-change="VM.changed(field.varName)"></textarea>
        </md-input-container>
        <div ng-repeat="(key, locale) in VM.Locales" ng-if="field.translatable">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h3><span>{{ field.label }} in {{ locale.name }}</span></h3>
                </div>
            </md-toolbar>
            <md-input-container class="md-block" flex flex-gt-sm>
                <label>{{ field.label }}</label>
                <textarea ng-model="VM.models[field.varName][key]" ng-change="VM.changed(field.varName[key])"></textarea>
            </md-input-container>
        </div>
    </div>


    <div ng-if="field.type=='richtext'">
        <md-input-container class="md-block" flex flex-gt-sm ng-if="!field.translatable">
            <label>{{ field.label }}</label>
            <textarea ng-model="VM.models[field.varName]" ng-change="VM.changed(field.varName)"
                      placeholder="{{ field.label }}"
                      redactor></textarea>
        </md-input-container>
        <div ng-repeat="(key, locale) in VM.Locales" ng-if="field.translatable">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h3><span>{{ field.label }} in {{ locale.name }}</span></h3>
                </div>
            </md-toolbar>
            <md-input-container class="md-block" flex flex-gt-sm>
                <label>{{ field.label }}</label>
                <textarea ng-model="VM.models[field.varName][key]" ng-change="VM.changed(field.varName[key])"
                          placeholder="{{ field.label }}"
                          redactor></textarea>
            </md-input-container>
        </div>
    </div>

    <md-switch aria-label="{{ field.label }}" ng-if="field.type=='boolean'"
               ng-model="VM.models[field.varName]" ng-change="VM.changed(field.varName)">
        {{ field.label }}
    </md-switch>

    <md-input-container class="md-block" flex flex-gt-sm ng-if="field.type=='select'">
        <label>{{ field.label }}</label>
        <md-select aria-label="{{ field.label }}" placeholder="{{ field.label }}"
                   ng-change="VM.changed(field.varName)"
                   ng-model="VM.models[field.varName]" >
            <md-option value="{{ item.value }}" ng-repeat="item in field.options">{{ item.label }}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex flex-gt-sm ng-if="field.type=='selectMultiple'">
        <label>{{ field.label }}</label>
        <md-select aria-label="{{ field.label }}" placeholder="{{ field.label }}"
                   multiple
                   ng-change="VM.changed(field.varName)"
                   ng-model="VM.models[field.varName]" >
            <md-option value="{{ item.value }}" ng-repeat="item in field.options">{{ item.label }}</md-option>
        </md-select>
    </md-input-container>
    <div ng-if="field.type=='image'">
        <label>{{ field.label }}</label>

    <image-component ng-model="VM.models[field.varName]" layout-type="column"
                     name="{{ field.varName }}"
                     on-change="VM.changed(field, value)"
                     options="VM.imageOptions" ></image-component>
    </div>
    <div ng-if="field.type=='file'">
        <label>{{ field.label }}</label>
    <file-component ng-model="VM.models[field.varName]" layout-type="column"
                     name="{{ field.varName }}"
                     on-change="VM.changed(field, value)"
                     options="VM.fileOptions" ></file-component>
    </div>

    <div ng-if="field.type == 'date'">
        <h4>{{ field.label }}</h4>
        <md-datepicker ng-model="VM.models[field.varName]" md-placeholder="Enter date"
                       name="{{ field.varName }}"
                       ng-change="VM.changed(field, value)"
                       md-open-on-focus></md-datepicker>
    </div>
</div>
