<div ng-repeat="field in VM.Items">

    <md-input-container class="md-block" flex-gt-sm ng-if="field.type=='text'">
        <label>{{ field.label }}</label>
        <input ng-model="field.value" ng-change="VM.changed(field)">
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm ng-if="field.type=='textarea'">
        <label>{{ field.label }}</label>
        <textarea ng-model="field.value" ng-change="VM.changed(field)"></textarea>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm ng-if="field.type=='richtext'">
        <label>{{ field.label }}</label>
        <textarea ng-model="field.value" redactor></textarea>
    </md-input-container>

    <md-switch ng-model="field.value" aria-label="{{ field.label }}" ng-if="field.type=='boolean'" ng-change="VM.changed(field)">
        {{ field.label }}
    </md-switch>

    <md-input-container class="md-block" flex-gt-sm ng-if="field.type=='select'">
        <label>{{ field.label }}</label>
        <md-select ng-model="field.value" aria-label="{{ field.label }}" placeholder="{{ field.label }}" ng-change="VM.changed(field)">
            <md-option ng-value="item.varName" ng-repeat="item in field.options">{{ item.label }}</md-option>
        </md-select>
    </md-input-container>
</div>
