<md-card class="md-whitespace-4dp">
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <h2 class="md-title">{{ VM.Item.title[VM.defaultLang] || 'Create Page'}}</h2>
            <div flex></div>
            <md-button class="md-fab md-hue-2 md-accent" aria-label="Add"
                       ng-click="preview=true" ng-if="production">
                <md-icon class="material-icons">remove_red_eye</md-icon>
                <md-tooltip md-direction="top">
                   Live preview
                </md-tooltip>
            </md-button>
        </div>

    </md-toolbar>

    <div ng-class="{'flex-40':preview}">
    <edit-page item="VM.Item" on-save="VM.onSave(item, isNew)"></edit-page>
    </div>
        <div class="flex-60" ng-if="preview">
            <iframe src="http://cms.example.com/" id="preview" style="width: 100%; height: 100%" flex></iframe>
        </div>
</md-card>